*{
    margin: 0;
    padding: 0;
}

.page{
    width: 1280px;
    margin: 0 auto;  
}
.navbar{
    width: 620px;
    height: 15px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    /* border: solid 1px black; */
}
.navigation{
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    padding: 0;
}
.navigation a{
    text-decoration: none;
    color: #FF0000;
    font-size: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
.navigation li{
    display: inline-block;  
}
.link-like-button-home{
    width: 68px;
    height: 27px;
    text-align: center;
    padding: 10px 10px 10px;
    /* border: solid 1px black; */
} 
.link-like-button-photoapp{
    width: 131px;
    height: 27px;
    margin-left: 52px;
    padding: 10px 10px 10px 10px;
    /* border: solid 1px black; */
}
.link-like-button-design{
    width: 87px;
    height: 27px;
    margin-left: 52px;
    padding: 10px 10px 10px 10px;
    /* border: solid 1px black; */
}
.link-like-button-download{
    width: 140px;
    height: 27px;
    margin-left: 37px;
    padding: 10px 0px 10px 10px;
    /* border: solid 1px black; */
}

.header_image{
    width: 1280px;
    height: 789px;
    left: 0px;
}

.content{
    width: 1280px;
    height: 650px;
}

.title{
    display: inline-block;
    width: 774px;
    height: 29px;
    margin-left: 253px;
    margin-top: 48px;
    text-align: center;
    font-size: 22px;
    letter-spacing: 3.3px;
    color: #373737;
    text-transform: uppercase;
    /* border: solid 1px black; */
}

.first_block{
    width: 1145px;
    height: 132px;
    margin-left: 67.5px;
    margin-top: 38px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2.4px;
    line-height: 26px;
    color: #373737;
    /* border: solid 1px black; */
}

.second_block{
    width: 1145px;
    height: 216px;
    margin-left: 67.5px;
    margin-top: 28px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2.4px;
    line-height: 26px;
    color: #373737;
    /* border: solid 1px black; */
}

.link-like-button{
    width: 105px;
    height: 16px;
    margin-top: 66px;
    margin-left: 545px;
    display: inline-block;
    padding: 18px 43px 18px 43px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    background: #FF0000;
    border-radius: 4px;
   
}


.footer_block{
    width: 1070px;
    height: 39px;
    right: 105px;
    bottom: 29px;
    margin-top: 40px;
    margin-left: 105px;
    margin-bottom: 29px;
    letter-spacing: 2.4px;
    font-size: 16px; 
    /* border: solid 1px black; */

}

.footer_block_text{
    width: 462px;
    height: 39px;
    margin-left: 608px;
    text-align: center;
}
